

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
  overflow-y: scroll;

}

body::-webkit-scrollbar {
  width: 0; 
}

.container{
  max-width: 1320px;
  margin: 0 auto;
}

.dark__mode{
  background-color: #02050A;
}

@media screen and (max-width:1400px) {
  .container{
    max-width: 1140px;
  }
}


@media screen and (max-width:1200px) {
  .container{
    max-width: 960px;
  }
}

@media screen and (max-width:990px) {
  .container{
    max-width: 720px;
  }
}

@media screen and (max-width:770px) {
  .container{
    max-width: 540px;
  }
}

@media screen and (max-width:770px) {
  .container{
    max-width: 540px;
  }
}